:root{
    --red: #c73a0f;
    --green: #1ea475;

    --rose50: #fcf9f7;
    --rose100: #fbf9f8;
    --rose300: #c9aea6;
    --rose400: #ad8985;
    --rose500: #87635a;
    --rose900: #260f08;
}

*{
    font-family: "Red Hat Text", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100vw;
}

body{
    background-color: var(--rose50);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
